.body{
    display: flex;
    flex-direction: row;
  }
  .main{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px;
  }
  input, textarea{
    margin: 0px;
    padding: 0px;
    display: block;
  }
  p, div{
    margin: 0px;
    padding: 0px;
  }

  .background{
    width: 1136px;
    border: 1px solid #C8C8C8;
  }

  

  .bottom{
    height: 362px;
    display: flex;
    flex-direction: row;
  }
  .add_picture{
    width: 100%;
    border: 1px solid #C8C8C8;
  }

#inputImg img{
  width: 100px;
}